.point-cloud-viewer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.viewer-container {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.viewer-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}
